.wrapper {
    background-image: url(../img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 72px;
}

.header {
    padding-top: 20px;
}


.btn {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    outline: none;
    background: none;
    padding: 8px 16px;
    border: 2px solid transparent;
    border-radius: 22px;
    margin-bottom: 100px;
}


.logo {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 41px;
}

.title {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.subtitle {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.sub-btn {
    background-color: #ff4e50;
    padding: 10px 52px;
    margin-bottom: 138px;
}

.section_title {
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.partner_picture {
    border-radius: 50%;
}

.partner-photo {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto 21px auto;
}

.partner-photo::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 75%;
    border: 3px solid #fff;
    border-radius: 50%;
    background-image: url('../img/tv.png');
    background-position: center;
    background-color: #ff4e50;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.bottle_icon::after {
    position: absolute;
    background-color: #ffa507;
    border: 3px solid #ffffff;
    border-radius: 50%;
    right: 0;
    top: 75%;
    background-image: url('../img/bottle.png');
    background-position: center;
    background-size: 15px 19px;
}

.tea_icon::after {
    position: absolute;
    background-color: #1cd7ad;
    border: 3px solid #ffffff;
    border-radius: 50%;
    right: 0;
    top: 75%;
    background-image: url('../img/tea.png');
    background-position: 5px 4px;
    background-size: 18px 18px;
}


.message_icon::after {
    position: absolute;
    background-color: #4e73db;
    border: 3px solid #ffffff;
    border-radius: 50%;
    right: 0;
    top: 75%;
    background-image: url('../img/message.png');
    background-position: 5px 6px;
}


.partner_name {
    margin-bottom: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.partner_info {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.partner_info {
    margin-bottom: 30px;
}

.section_btn {
    color: #ff4e50;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #ff4e50;
    border-radius: 40px;
    padding: 13px 50px;
    background-color: transparent;
    margin-bottom: 68px;
}

.section_btn:active {
    cursor: pointer;
    transition: 40ms linear;
    background-color: #ff4e50;
    color: #ffffff
}

@media (min-width: 768px) {
    .section_title {
        margin-bottom: 33px;
    }

    .partner {
        width: 232px;
    }
}


@media (min-width:768px) {
    .header {
        margin-bottom: 160px;
    }

    .btn,
    .logo {
        margin-bottom: 0;
    }

    .sub-btn {
        margin-bottom: 230px;
    }

    .title {
        font-size: 52px;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 37px;
    }

    .sub-btn {
        padding: 10px 20px;
    }
}

@media (min-width: 942px) {
    .partner_picture {
        cursor: pointer;
        transition: 0.2s linear;
    }

    .partner_picture:hover {
        transform: scale(1.05) translate(-2%, 2%)
    }

    .section_btn {
        padding: 13px 20px;
        transition: 0.2s linear;
    }

    .section_btn:hover {
        cursor: pointer;
        transition: 0.2s linear;
        background-color: #ff4e50;
        color: #ffffff
    }
}